<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pizzaria Fantástica</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/styles.css">	
	<!-- <link rel="stylesheet" href="/css/index.css"> -->
	<link rel="stylesheet" href="/css/pizza.css">
	<link rel="stylesheet" href="/css/header.css">
</head>

<body>
	<%- include('./partials/header.ejs')%>
	<main>
            <h1><%= pizza.nome %></h1>
		<h2>R$<%= pizza.preco %></h2>
		<img src="<%= pizza.img %>" alt="<%= pizza.nome %>">
		<div> Ingredientes <%= pizza.ingredientes %></div>
		<button>+ Add</button>
		<a href="/pizzas/<%= idAnterior %>" class="prev">&lt;</a>
		<a href="/pizzas/<%= idProxima %>" class="next">&gt;</a>
	</main>
<form  action="/deletar/<%= pizza.id %>?_method=DELETE" method="POST"><button style="width: 160px; font-size: large; ">DELETAR</button></form>

</body>
</html>